# Python virtual environments
venv/
env/
ENV/
.venv/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Database & Secrets
.env
*.db
*.sqlite3
data/*.db

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
